@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto+Slab:wght@300;400&display=swap');

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f6fa;
  padding: 5%;
}

#root {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
}

/* navbar */
nav {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat",sans-serif;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

nav > div {
  display: flex;
  gap: 0 40px;
}
nav ul {
  display: flex;
  gap: 0 40px;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  color: #000;
  font-size: 15px;
  opacity: 0.5;
}

nav li a:visited {
  opacity: 1;
}

h1 a{
  font-size: 30px;
  font-weight: 700;
  color:#0290ff;
}

#user {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#user svg {
  color:#0290ff;
  font-size: 23px;
}

#user svg:hover{
  cursor: pointer;
}
main {
  margin: auto;
  padding: 40px;
  background-color: #fafafa;
}

main > div {
  margin: auto;
  display: flex;
  flex-direction: column;
}
